@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    background-color: #f0ebf8;
    min-height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 5%;
    background-color: #fbfbfb;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    cursor: pointer;
    height: 80px;
    width: 120px;
}

.nav-links {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.nav-link {
    font-size: 1.25rem;
    font-family: 'Fredoka One', cursive;
    color: #000;
    opacity: .5;
    transition: transform .2s;
    height: 80px;
    line-height: 80px;
}

.nav-link:hover {
    opacity: .7;
    filter: invert(47%) sepia(46%) saturate(710%) hue-rotate(95deg) brightness(89%) contrast(90%);
    transform: scale(1.08);
}

.nav-link:active {
    transform: scale(0.92);
}

.nav-link.active {
    opacity: 1;
    filter: invert(47%) sepia(46%) saturate(710%) hue-rotate(95deg) brightness(89%) contrast(90%);
    border-bottom: 3px solid;
}

.nav-link.active:hover {
    transform: none;
}

.nav-link.basket {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.nav-link.basket span {
    font-size: 1rem;
    line-height: 18px;
}

.basket-icon {
    height: 40px;
    width: 40px;
}

.lg-show {
    display: flex;
}

.lg-hidden {
    display: none;
}

.hamburger-container {
    position: relative;
    width: 32px;
    height: 32px;
}

.hamburger {
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
}

.hamburger-container span {
    pointer-events: none;
    position: absolute;
    z-index: 9;
    left: 0;
    border-radius: 20px;
    background-color: #1B9553;
    width: 100%;
    height: 4px;
    transition: all .4s;
}

.hamburger-container .first {
    transform: translateY(2px);
}
.hamburger-container .second {
    transform: translateY(14px);
}
.hamburger-container .third {
    transform: translateY(26px);
}

.hamburger:checked ~ .first {
    transform: translateY(14px) rotate(45deg);
    background-color: #fbfbfb;
}
.hamburger:checked ~ .second {
    transform: translateY(14px) scale(.2);
    opacity: 0;
}
.hamburger:checked ~ .third {
    transform: translateY(14px) rotate(135deg);
    background-color: #fbfbfb;
}

.overlay {
    opacity: 0;
    position: absolute;
    z-index: 8;
    top: -24px;
    left: calc(-100vw + 32px + 5vw);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B9553;
    pointer-events: none;
    transition: all .2s;
    transform: translateY(-100vw);
}

.hamburger:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.nav-link-2 {
    font-size: 1.25rem;
    font-family: 'Fredoka One', cursive;
    color: #000;
    opacity: .5;
    transition: all .2s;
    height: 80px;
    line-height: 80px;
}

.nav-link-2:hover {
    opacity: .7;
    color: #f1f1f1;
    transform: scale(1.08);
}

.nav-link-2.active {
    opacity: 1;
    color: #fbfbfb;
}

.backdrop {
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

.login-form {
    position: relative;
    padding: 40px 20px;
    width: 45%;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0ebf8;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.close span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1B9553;
    border-radius: 10px;
}

.close span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}

.close span:nth-child(2) {
    transform: translateY(17px) rotate(135deg);
}

.login-img {
    width: 50%;
    margin: auto;
}

.login-img img {
    width: 100%;
}

#login:target {
    display: block;
}

.login-form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.input-form {
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: 1.1rem;
    padding: 0 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.input-form.msg-form {
    resize: none;
    height: auto;
    padding: 10px;
}

.input-form:focus {
    outline: 2px solid #1B9553;
}

.label-form {
    width: 80%;
    margin: 0 auto -15px auto;
}

.remember {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.remember input {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.remember label {
    font-size: 1rem;
    opacity: .8;
    user-select: none;
}

.btn {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #1B9553;
    color: #fbfbfb;
}

.signin-btn {
    margin: 15px auto;
    width: 80%;
    height: 48px;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn-group {
    margin: 15px auto;
    width: 80%;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
}

.clear-btn {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: none;
    color: #686868;
}

.submit-btn {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
}

.center-title {
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    color: #1B9553;
}

.login-form .center-title {
    width: 80%;
    padding: 20px 0;
    border-bottom: 2px solid #1B9553;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 20%;
    height: 20%;
    margin: 70px auto;
}

.footer-info {
    padding: 50px 30px;
    background-color: #1B9553;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 36px;
    row-gap: 26px;
}

.footer-link {
    font-family: 'Fredoka', sans-serif;
    color: #fbfbfb;
    font-size: 1.6rem;
    position: relative;
}

.footer-social {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #f0ebf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social img {
    transition: all .2s;
    width: 24px;
    height: 24px;
    filter: invert(0%) sepia(98%) saturate(6815%) hue-rotate(225deg) brightness(90%) contrast(79%);
}

.footer-social:hover img {
    filter: invert(47%) sepia(46%) saturate(710%) hue-rotate(95deg) brightness(89%) contrast(90%);
}

.footer-link::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    height: 100%;
    border-right: 2px solid #fbfbfb;
}

.footer-link:last-child:after {
    border-right: none;
}

.copyright {
    padding: 0 5%;
    text-align: center;
    background-color: #1B9553;
    color: rgba(251, 251, 251, .8);
    padding-bottom: 70px;
}

main {
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.offers-main {
    padding: 0;
}

.wrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.slide-show-container {
    width: 100%;
    height: calc(100vh - 120px);
    padding: 40px;
    background-color: #7a8a7c;
    border-radius: 20px;
}

.slide-show {
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    position: relative;
}

.slide-shop {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 138, 124, .8);
    transition: all .3s;
    transform: translateY(-100%);
}

.slide-show:hover .slide-shop {
    transform: translateY(0);
}

.slide-shop h1 {
    color: #fbfbfb;
}

.slide-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.slide-link a {
    color: #fbfbfb;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 4px 24px;
    border-radius: 34px;
    transition: all .2s;
}

.slide-link a:hover {
    background-color: #fbfbfb;
    color: #1B9553;
    transform: scale(1.1);
}

.slide-link a:active {
    transform: scale(0.9);
}

.slide-show img {
    border-radius: 10px;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    filter: brightness(1);
    animation: 24s ease-in-out infinite slideShow;
}

@keyframes slideShow {
  0% { transform: translateX(0); }
  25% { transform: translateY(calc(-100% - 40px)); }
  50% { transform: translateY(calc(-200% - 80px)); }
  75% { transform: translateY(calc(-300% - 120px)); }
  100% { transform: translateY(calc(-400% - 160px)); }
}

.wrapper-boxes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    width: 100%;
    height: calc(100vh - 120px);
}

.wrapper-box {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-box:first-child {
    background-color: #774EB0;
}
.wrapper-box:last-child {
    background-color: #fc9416;
}

.wrapper-icon {
    opacity: .7;
    width: 30%;
    margin-bottom: 10px;
    transition: transform .8s;
}

.wrapper-box:hover .wrapper-icon {
    opacity: 1;
    filter: invert(98%) sepia(15%) saturate(1121%) hue-rotate(183deg) brightness(100%) contrast(95%);
}

.wrapper-box:first-child:hover .wrapper-icon {
    transform: rotate(180deg);
}
.wrapper-box:last-child:hover .wrapper-icon {
    transform: scale(0.8);
}

.hero {
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    position: relative;
}

.text-green {
    color: #1B9553;
}

.hero > img {
    filter: brightness(50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    user-select: none;
}

.hero.mini > img {
    height: 55vh;
    object-fit: cover;
    object-position: center;
}

.hero-title {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbfbfb;
    text-align: center;
}

.hero.mini .hero-title {
    width: 90%;
    padding-bottom: 160px;
}

.hero-title img {
    width: 35%;
    display: flex;
    margin: 10px auto;
    background-color: #1B9553;
    border-radius: 15px;
    padding: 10px 20px;
}

.go-to-main {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%) sepia(43%) saturate(460%) hue-rotate(214deg) brightness(118%) contrast(97%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-to-main small {
    color: #000;
    animation: 4s ease-out infinite blinkText;
}

@keyframes blinkText {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.go-to-main img {
    opacity: .8;
    width: 44px;
    height: 44px;
}

.go-to-main img:hover {
    opacity: 1;
}

section {
    margin: 45px 0;
    padding-top: 85px;
}

section:last-child {
    margin-bottom: 160px;
}

.slider-container {
    width: 100%;
}

.right-arrow {
    opacity: 0;
    width: 45px;
    height: 45px;
    transition: opacity .4s;
}

.slider-head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    transform: translateX(-60px);
    transition: transform .4s;
}

.slider-container:hover .slider-head {
    transform: translateX(0);
}

.slider-container:hover .slider-head .right-arrow {
    opacity: 1;
}

.slider-container:hover .slider-title a {
    color: #692bbe;
    border-bottom: 3px solid;
}

.slider-title {
    color: #1b1b1b;
}

.slider-title a {
    color: #1b1b1b;
}

.profile-pic {
    border-radius: 50%;
    background-color: #1B9553;
    outline: 2px solid #1B9553;
    width: 60px;
    height: 60px;
}

.slider-body {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 6px;
}

.card {
    cursor: pointer;
    background-color: #fbfbfb;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    height: 480px;
    min-width: 330px;
    width: 330px;
    max-width: 330px;
    display: grid;
    grid-template-rows: 260px 1fr;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
}

.deals {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #774EB0;
    color: #fbfbfb;
    padding: 0 10px;
    font-style: italic;
}

/* width */
.slider-body::-webkit-scrollbar {
  height: 6px;
}
/* Track */
.slider-body::-webkit-scrollbar-track {
  background: #686868;
}
/* Handle */
.slider-body::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}
/* Handle on hover */
.slider-body::-webkit-scrollbar-thumb:hover {
  background: #1B9553;
}

.card:hover .card-img {
    transform: scale(1.1);
}

.card-img, .card-img img {
    transition: transform .2s;
    padding: 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-body {
    padding: 10px;
    position: relative;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    flex-wrap: wrap;
}

.card-title span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card-title > small {
    margin: -5px 0;
    color: #1b1b1b;
}

.card-title span small {
    line-height: 14px;
    margin: 0 4px;
    font-size: .8rem;
    color: #1b1b1b;
}

.card-title h4 {
    font-weight: 600;
}

.card-title h3 {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-title h3 span {
    opacity: .6;
    text-decoration: line-through;
}

.star {
    width: 14px;
}

.add-to-cart {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: #fbfbfb;
    background-color: #1B9553;
    border: none;
    border-radius: 30px;
    width: fit-content;
    padding: 10px 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    bottom: 18px;
    right: 15px;
    transition: transform .2s;
}

.add-to-cart:hover {
    transform: scale(1.06);
}
.add-to-cart:active {
    transform: scale(0.94);
}

.cart {
    width: 24px;
    filter: invert(100%) sepia(1%) saturate(205%) hue-rotate(184deg) brightness(118%) contrast(97%);
}

.see-more-card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.see-more {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: #f0ebf8;
    border-radius: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.see-more-text {
    height: 24px;
    font-weight: 600;
    color: #686868;
    transition: color .3s;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.see-more img {
    height: 100%;
    width: 100%;
    transition-property: transform, opacity;
    transition-duration: .6s;
    transform: translateX(-150px);
    opacity: .7;
    filter: invert(0%) sepia(98%) saturate(6815%) hue-rotate(225deg) brightness(90%) contrast(79%);
}

.see-more img:first-child {
    opacity: 0;
}

.see-more-card:hover .see-more img {
    opacity: 1;
    transform: translateX(0);
}
.see-more-card:hover .see-more img:first-child {
    opacity: 1;
}
.see-more-card:hover .see-more img:last-child {
    opacity: 0;
}

.see-more-card:hover .see-more-text {
    color: #1b1b1b;
    border-bottom: 2px solid #1b1b1b;
}

.contact-us {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.user-form {
    width: 100%;
}

.user-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.g-map {
    width: 80%;
    height: 80vh;
}

.vid-plugin {
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.pills-group {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 25px;
    justify-content: center;
    align-content: center;
}

.pill {
    border-radius: 30px;
    border: 2px solid #774EB0;
    padding: 10px 24px;
    font-size: 1.4rem;
    color: #692bbe;
    transition: all .2s;
}

.pill.active {
    background-color: #774EB0;
    color: #fbfbfb;
}

.pill.active:hover {
    background-color: #692bbe;
}

.pill:hover {
    transform: scale(1.06);
    background-color: #e0d3f3;
}
.pill:active {
    transform: scale(0.94);
}

.shopping-cart {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 38px;
}

.cart-title, .reviews-title {
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 60px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.cart-item {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    border-bottom: 2px solid #e0d3f3;
    padding-bottom: 24px;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-img {
    margin: 0 15px;
    width: 150px;
    height: 150px;
    border: 2px solid #c4dfd1;
    border-radius: 20px;
}

.cart-item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-item-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.cart-item h3 {
    font-weight: 600;
}

.number-counter {
    margin: auto;
    display: flex;
    align-content: center;
    gap: 20px;
}

.number-counter > img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    filter: invert(0%) sepia(98%) saturate(6815%) hue-rotate(225deg) brightness(90%) contrast(79%);
}

.number-counter > img:first-child {
    opacity: .6;
    cursor: not-allowed;
}

.cart-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

.cart-price h3 span {
    margin-right: 5px;
    font-size: smaller;
    opacity: .6;
    text-decoration: line-through;
}

.remove {
    user-select: none;
    opacity: .8;
    cursor: pointer;    
    text-decoration: underline;
    transition: opacity .2s;
}

.remove:hover {
    opacity: 1;
}

.cart-right {
    padding: 24px;
    border-radius: 10px;
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.order-info {
    border-bottom: 2px solid #1b1b1b;
}

.order-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 18px 0;
}

.order-info + .order-details .order-title {
    color: #1b1b1b;
    font-size: 1.3rem;
    font-weight: 600;
}

.order-title {
    font-size: 1rem;
    font-weight: 500;
}
.order-info + .order-details p {
    font-size: 1.5rem;
    font-weight: 600;
}

.checkout-btn {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 100%;
    background-color: #1B9553;
    border: none;
    color: #fbfbfb;
    font-size: 1.18rem;
    font-weight: 550;
    margin: 10px 0;
    padding: 15px 0;
    border-radius: 5px;
    transition: background-color .2s;
}

.checkout-btn:hover {
    background-color: #157441;
}

.gif-plugin {
    width: 100%;
}

.search-bar-container {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.search-title {
    font-family: 'Fredoka', sans-serif;
    color: #1b1b1b;
}

.search-bar {
    position: relative;
    width: fit-content;
    height: 54px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: 2px solid #1B9553;
    border-radius: 30px;
}

.search-bar.offers {
    border: 2px solid #774EB0;
}

.search-checkbox {
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;
}

.search-input {
    width: 0;
    height: 100%;
    position: relative;
    font-size: 1.1rem;
    opacity: 0;
    background: none;
    border: none;
    transition: all .3s;
}

.search-input:focus {
    outline: none;
}

.search-checkbox:checked ~ .search-input {
    width: 25vw;
    opacity: 1;
}

.search-icon {
    width: 26px;
    height: 26px;
    margin-left: 26px;
}

.search-filter {
    cursor: pointer;
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 26px;
    position: relative;
}

.search-checkbox:checked ~ .search-filter {
    pointer-events: none;
}

.filter-checkbox {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    appearance: none;
}

.search-checkbox:checked ~ .search-filter .filter-box {
    opacity: 0;
    pointer-events: none;
}

.filter-box {
    cursor: default;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: calc(100% + 15px);
    right: 0;
    width: fit-content;
    height: fit-content;
    padding: 18px 30px;
    opacity: 0;
    transition: all .3s;
    background-color: #1B9553;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.filter-box.offers {
    background-color: #774EB0;
}

.filter-box a {
    white-space: nowrap;
    transition: color .2s;
}
.filter-box a:first-child {
    color: #fbfbfb;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(251, 251, 251, .6);
}
.filter-box a:last-child {
    color: rgba(251, 251, 251, .6);
    padding-top: 10px;
}

.filter-box a:hover {
    color: #fbfbfb;
}

.filter-checkbox:checked ~ span {
    background-color: #1B9553;
}
.filter-checkbox:checked ~ .filter-box {
    opacity: 1;
    pointer-events: all;
}

.filter-checkbox.offers:checked ~ span {
    background-color: #774EB0;
}

.search-filter span {
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 30px;
    background-color: #1b1b1b;
    transition: all .3s;
}

.search-filter span:nth-child(2) {
    transform: translateY(4px);
}
.search-filter span:nth-child(3) {
    transform: translateY(13px);
}
.search-filter span:nth-child(4) {
    transform: translateY(22px);
}

.search-checkbox:checked ~ .search-filter span:nth-child(2) {
    transform: translateY(13px) rotate(45deg);
    background-color: #1b1b1b;
}
.search-checkbox:checked ~ .search-filter span:nth-child(3) {
    opacity: 0;
    background-color: #1b1b1b;
}
.search-checkbox:checked ~ .search-filter span:nth-child(4) {
    transform: translateY(13px) rotate(135deg);
    background-color: #1b1b1b;
}

.products-list {
    padding-top: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.show-more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.show-more-btn {
    cursor: pointer;
    background: none;
    font-family: 'Fredoka', sans-serif;
    border-radius: 30px;
    border: 2px solid #1B9553;
    color: #1b1b1b;
    font-weight: 600;
    padding: 12px 40px;
    transition: all .3s;
}

.show-more-btn:hover {
    color: #fbfbfb;
    background-color: #1B9553;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-container {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 35px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.review-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 16px;
    padding: 20px 10px;
    border-bottom: 2px solid #e0d3f3;
}

.review-card:nth-last-child(2) {
    margin-bottom: 40px;
}

.review-time {
    position: absolute;
    right: 10px;
    top: 10px;
}

.review-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.review-item p {
    padding: 0 5px;
    cursor: pointer;
    opacity: .8;
    transition: all .3s;
    text-align: center;
}

.review-card:hover .review-item p {
    opacity: 1;
}

.review-img {
    cursor: pointer;
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 2px solid #c4dfd1;
    border-radius: 10px;
    object-fit: contain;
}

.review-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-portfolio {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 5px;
}

.user-portfolio img {
    border-radius: 100%;
    width: 58px;
    height: 58px;
    object-fit: cover;
}

.user-name {
    font-weight: 600;
    color: #1b1b1b;
}

.review-text {
    color: #1b1b1b;
    font-size: 0.95rem;
}

.review-right {
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.review-right > .reviews-title {
    margin-bottom: 36px;
}

.review-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.review-form div > label {
    font-size: 0.9rem;
    color: #1b1b1b;
}

.review-input {
    margin-top: 10px;
    background-color: #fbfbfb;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 0.95rem;
}

.review-input:focus {
    outline: 2px solid #1B9553;
}

.review-msg {
    font-family: 'Poppins', sans-serif;
    resize: none;
}

.review-btn {
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #686868;
    transition: all .3s;
}

.review-btn:hover {
    color: #1b1b1b;
}

.review-btn.post {
    opacity: .8;
    color: #157441;
    border: 2px solid #1B9553;
    border-radius: 8px;
}

.review-btn.post:hover {
    opacity: 1;
    color: #fbfbfb;
    background-color: #1B9553;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.span-two {
    grid-column: span 2;
}

.md-span-two {
    grid-column: span 1;
}

@media only screen and (max-width: 1024px) {
  /* For tablets: */
  .lg-show {
    display: none;
  }
  .lg-hidden {
    display: block;
  }
  .login-form {
    width: 60%;
  }
  .footer-logo {
    width: 30%;
    height: 30%;
  }
  .hero-title img {
    width: 55%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .wrapper-boxes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: fit-content;
  }
  .wrapper-box {
    height: 280px;
  }
  .contact-us {
    grid-template-columns: 1fr;
  }
  .card-img, .card-img img {
    padding: 12px;
  }
  .pills-group {
    margin: 20px auto;
    margin-bottom: 30px;
    row-gap: 15px;
  }
  .pill {
    border-radius: 30px;
    padding: 10px 18px;
    font-size: 1.2rem;
  }
  .shopping-cart {
    grid-template-columns: 1fr;
  }
  .search-bar {
    margin-left: 0;
  }
  .review-container {
    grid-template-columns: 1fr;
    gap: 30vh;
  }
}

@media only screen and (max-width: 767px) {
  /* For mobiles: */
  .nav-links {
    column-gap: 24px;
  }
  .basket-icon {
    width: 32px;
    height: 32px;
  }
  .hamburger-container {
    width: 26px;
    height: 26px;
  }
  .hamburger-container span {
    height: 3px;
  }
  .hamburger-container .first {
    transform: translateY(2px);
  }
  .hamburger-container .second {
    transform: translateY(13px);
  }
  .hamburger-container .third {
    transform: translateY(24px);
  }
  .hamburger:checked ~ .first {
    transform: translateY(13px) rotate(45deg);
  }
  .hamburger:checked ~ .second {
    transform: translateY(13px) scale(.2);
  }
  .hamburger:checked ~ .third {
    transform: translateY(13px) rotate(135deg);
  }
  .overlay {
    top: -28px;
    left: calc(-100vw + 26px + 5vw);
  }
  .login-form {
    width: 90%;
  }
  .label-form, .input-form, .signin-btn, .login-form .center-title {
    width: 88%;
  }
  .footer-logo {
    width: 50%;
    height: 50%;
  }
  footer img + .footer-info {
    justify-content: flex-start;
  }
  .hero-title img {
    width: 100%;
  }
  .slide-show-container, .slide-show {
    padding: 10px;
  }
  .slide-show-container {
    border-radius: 10px;
    height: 300px;
  }
  .slide-show {
    gap: 15px;
  }
  .slide-show img {
    animation: 14s ease-in-out infinite slideShow;
}
  @keyframes slideShow {
    0% { transform: translateX(0); }
    25% { transform: translateY(calc(-100% - 15px)); }
    50% { transform: translateY(calc(-200% - 30px)); }
    75% { transform: translateY(calc(-300% - 45px)); }
    100% { transform: translateY(calc(-400% - 60px)); }
  }
  .slide-link {
    top: 60%;
  }
  .slide-link a {
    font-size: 1.2rem;
  }
  .wrapper-boxes {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    height: fit-content;
  }
  .wrapper-box {
    height: fit-content;
  }
  .wrapper-box h2 {
    font-size: 1.2rem;
  }
  .wrapper-box small {
    text-align: center;
    padding-bottom: 15px;
  }
  .center-title {
    font-size: 1.6rem;
  }
  .btn-group {
    width: 100%;
    margin-bottom: 30px;
  }
  .user-form form {
    padding: 20px 0;
  }
  .g-map {
    height: 60vh;
    width: 90%;
  }
  .offers-main {
    padding: 80px 0;
  }
  .pills-group {
    margin: 18px auto;
    gap: 10px;
  }
  .pill {
    border-radius: 30px;
    padding: 6px 10px;
    font-size: 1.05rem;
  }
  .cart-item-info {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 28px;
  }
  .cart-item-info h3 {
    font-size: 1.1rem;
    text-align: center;
  }
  .cart-price {
    column-gap: 20px;
    align-items: center;
  }
  .search-checkbox:checked ~ .search-input {
    width: 50vw;
  }
  .search-bar {
    height: 44px;
  }
  .search-bar img {
    width: 22px;
    height: 22px;
  }
  .search-filter {
    width: 22px;
    height: 22px;
  }
  .filter-box {
    right: -30px;
  }
  .search-filter span {
    width: 22px;
    height: 2px;
  }
  .search-filter span:nth-child(2) {
    transform: translateY(2px);
  }
  .search-filter span:nth-child(3) {
    transform: translateY(11px);
  }
  .search-filter span:nth-child(4) {
    transform: translateY(20px);
  }
  .search-checkbox:checked ~ .search-filter span:nth-child(2) {
    transform: translateY(11px) rotate(45deg);
  }
  .search-checkbox:checked ~ .search-filter span:nth-child(4) {
    transform: translateY(11px) rotate(135deg);
  }
  .label-form, .input-form, .signin-btn, .login-form .center-title {
    width: 100%;
  }
  .reviews-list {
    gap: 60px;
  }
  .review-card {
    grid-template-columns: 1fr;
    padding: 20px;
    padding-bottom: 30px;
  }
  .review-time {
    top: 0;
    right: 0;
  }
  .review-item {
    margin-top: 50px;
  }
  .review-details {
    gap: 25px;
    margin-top: 20px;
  }
  .user-portfolio img {
    width: 48px;
    height: 48px;
  }
  .user-name {
    font-size: 1rem;
  }
  /* .review-text {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
  } */
  .review-right {
    padding: 0;
    box-shadow: none;
  }
  .md-span-two {
    grid-column: span 2;
  }
}

@media (prefers-reduced-motion) {
  body, html {
    scroll-behavior: auto;
  }
  .slide-shop {
    background-color: rgba(122, 138, 124);
    transform: translateY(0);
  }
  .wrapper-box:first-child:hover .wrapper-icon {
    transform: rotate(0);
  }
  .wrapper-box:last-child:hover .wrapper-icon {
    transform: scale(1);
  }
  .card:hover .card-img {
    transform: scale(1);
  }
  .add-to-cart:hover {
    transform: scale(1);
  }
  .add-to-cart:active {
    transform: scale(1);
  }
}